@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');


.page-container {
    background: url('/assets/img/allenamento-background.png');
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;

}







h1,h2{
  margin-bottom: 2rem;
  color: #ffcc70;
  text-shadow: 0 0 10px #000;
}

h1{
  font-size: 3.5rem;
  animation: pulseText 2s ease-in-out infinite;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 2.5rem;
}


.allenamento-container {
  text-align: center;
  padding: 2rem;
  max-width: 800px;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid #ffcc70;
  border-radius: 20px;
  box-shadow: 0 0 25px #000;
  backdrop-filter: blur(8px);
  margin-top: 80px;
  margin-left: 325px;
}


.allenamento-container h2 {
  font-size: 2.5rem;
  color: #ffcc70;
  text-shadow: 0 0 10px #000;
  margin-bottom: 2rem;
}

/* Nickname */
.nickname-box {
  margin-bottom: 2rem;
}

.nickname-box label {
  font-size: 1.2rem;
  color: #ffcc70;
  display: block;
  margin-bottom: 0.5rem;
  text-shadow: 0 0 5px #000;
}

.nickname-box input {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 10px;
  border: 2px solid #ffcc70;
  background: #1e1e1e;
  color: #fff;
  width: 80%;
  max-width: 300px;
  outline: none;
  transition: border 0.3s, box-shadow 0.3s;
}

.nickname-box input:focus {
  border-color: #ffaa00;
  box-shadow: 0 0 10px #ffaa00;
}
.pokemon-option {
  display: inline-block;
  margin: 1rem;
  padding: 1rem;
  width: 150px;
  border: 2px solid #ffcc70;
  border-radius: 15px;
  background: url('/assets/img/grass.png') center/cover no-repeat;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  text-align: center;
  min-height: 100px; /* Aumenta l'altezza per fare spazio al contenuto */
  position: relative; /* Per un migliore controllo degli elementi all'interno */
}

.pokemon-option {
  position: relative;
  height: 140px; /* oppure la tua altezza preferita */
  overflow: hidden;
}

.pokemon-content {
  position: absolute;
  bottom: 8px; /* distanza dal fondo */
  left: 0;
  right: 0;
  text-align: center;
}

.pokemon-option:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px #ffaa00, 0 0 5px #ffcc70 inset;
}

.pokemon-option img {
  width: 70%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 0.5rem;
}

.pokemon-option p {
  margin: 0;
  font-size: 1.1rem;
  color: #ffcc70;
  text-shadow: 0 0 5px #000;
}


.allenamento-container img {
  width: 70%;
  height: 70px; /* Altezza fissa per uniformità */
  object-fit: cover; /* Ritaglia e adatta l'immagine al box */
  border-radius: 10px;
  margin-bottom: 0.5rem;

}


.allenamento-container p {
  margin: 0;
  font-size: 1.1rem;
  color: #ffcc70;
  text-shadow: 0 0 5px #000;
}
