
<div class="allenamento-container"> <h2>Scegli il tuo compagno!</h2>
  <div class="nickname-box"> <label for="nickname">Il tuo nickname:</label>
    <input [(ngModel)]="nickname" placeholder="Es: Gigi D'Alessio" />
  </div>
  <div (click)="scegliPokemon('Flamix')">
    <img src="assets/img/pikachu.jpg" alt="Flamix">
    <p>Flamix</p>
  </div>
  <div (click)="scegliPokemon('Grooslime')">
    <img src="assets/img/satana.png" alt="Grooslime">
    <p>Grooslime</p>
  </div>
  <div (click)="scegliPokemon('Aquarock')">
    <img src="assets/img/gesu.jpg" alt="Aquarock">
    <p>Aquarock</p>
  </div>
</div>
