@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Cinzel', serif;

  background: url('https://www.transparenttextures.com/patterns/dark-mosaic.png'), radial-gradient(ellipse at center, #0f0c29, #302b63, #24243e);
  background-size: cover;
  color: #f0e6f6;
  text-align: center;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: backgroundMove 60s linear infinite;
}
/*crea sfondo che si muove,animato*/
@keyframes backgroundMove {
  0% { background-position: 0 0; }
  100% { background-position: 1000px 1000px; }
}

h1,h2{
  margin-bottom: 2rem;
  color: #ffcc70;
  text-shadow: 0 0 10px #000;
}

h1{
  font-size: 3.5rem;
  animation: pulseText 2s ease-in-out infinite;
}

h2 {
  font-size: 2.5rem;
}

/* bagliore rosso pulsante*/
@keyframes pulseText {
  0%, 100% { text-shadow: 0 0 10px #000, 0 0 20px #8b0000; }
  50% { text-shadow: 0 0 20px #ff0000, 0 0 30px #ff0000; }
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

button {
  background: linear-gradient(145deg, #2b2b2b, #1a1a1a);
  border: 2px solid #ffcc70;
  padding: 1rem 2.5rem;
  font-size: 1.3rem;
  font-family: 'Cinzel', serif;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 0 15px #000000aa;
  position: relative;
  overflow: hidden;
}
/*effetto luccichio al passaggio mouse*/
button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: rgba(255, 204, 112, 0.2);
  transform: skewX(-20deg);
  transition: left 0.5s;
}

button:hover::before {
  left: 150%;
}

button:hover:not(:disabled) {
  background: linear-gradient(145deg, #3b3b3b, #1a1a1a);
  transform: scale(1.05);
  box-shadow: 0 0 25px #ffcc70aa;
}
/* Stile spento per i bottoni disattivati */
button:disabled {
  background: #444;
  border-color: #777;
  color: #aaa;
  cursor: not-allowed;
  box-shadow: none;
}

label {
  font-size: 1.2rem;
  margin: 1rem 0;
  display: block;
  color: #ffcc70;
  text-shadow: 0 0 5px #000;
}











input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 250px;
  height: 10px;
  background: linear-gradient(to right, #3e3e3e, #1e1e1e);
  border-radius: 10px;
  box-shadow: 0 0 10px #000 inset;
  outline: none;
  transition: background 0.3s ease-in-out;
  margin-top: 1rem;
  position: relative;
}
input[type="range"]:hover {
  background: linear-gradient(to right, #ffcc70, #ff9900);
  box-shadow: 0 0 15px #ffcc70aa, 0 0 5px #ff9900 inset;
}







